body{ background: url(img/index_bg.png) 0 bottom no-repeat; background-attachment:fixed; }
#hd .welcome a { color:#4e84c8; }
.quick-links span{ background-image:url(img/index_icons.png); }
.quick-links li a{ color: #2a69b7; }
.extra-wrap h2{ line-height:36px; border:1px solid #3b68b3;  color:#FFF; background:#346fb9 url(img/index_h2_bg.png) 0 0 repeat-x; }
#hd #newbieRadio{ background:url(img/dz_vedio.png) no-repeat 0 3px; }
.notices{ background:#fff url(img/notice_bg.png) no-repeat; }